PORT=5000
NODE_ENV=development
CLIENT_URL='your client url(http://localhost:5173)'

MONGO_URI='your-mongo-url'

JWT_ACCESS_SECRET='your-jwt-access-token-secret'
JWT_REFRESH_SECRET='7your-jwt-refresh-token-secret'
JWT_ACCESS_EXPIRATION='access token expiration time'
JWT_REFRESH_EXPIRATION='refresh token expiration time'

EMAIL_SERVICE='gmail'
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM="Event Booking <noreply@yourdomain.com>"

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your aws access key id
AWS_SECRET_ACCESS_KEY=your aws secret access key
S3_BUCKET_NAME=youe aws s3 bucket name

RAZORPAY_KEY_ID=your razorpay key id
RAZORPAY_KEY_SECRET=your razorpay key secret